.wrapper-entry {
  margin: 7px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;

  justify-content: space-between;
}

.input-entry {
  background: #f2f2f2;
  border: 0px;

}
